* {
    box-sizing: border-box;
    transition: 0.2s;
}

:root {
    --primary-color: #ff5b2e;
    --primary-font-color: #000958;
    --secondary-font-color: #656689;
    --primary-font: Poppins;
    --secondary-font: Sora;
}
z html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--primary-font-color);
    font-size: 1.6rem;
    font-family: var(--primary-font, sans-serif);
}

/* COMMON */
a {
    color: inherit;
    text-decoration: none;
}

form,
select,
input,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.content {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 110px;
    padding: 22px 30px;
    border-radius: 99px;
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-align: center;
    font-weight: 600;
    line-height: 1.6rem;
}

.btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 2);
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__title {
    font-weight: 500;
    line-height: 2.6rem; /* 162.5% */
}

.section__desc {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5.2rem; /* 123.81% */
}

.page-btns {
    display: flex;
    gap: 18px;
}

.page-btn {
    color: #575f66;
    width: 36px;
    height: 36px;
    background: #fff;
    border: 1.5px solid #575f66;
    border-radius: 999px;
    transition: 0.1s;
}

.page-btn:hover {
    cursor: pointer;
    color: #fff;
    width: 36px;
    height: 36px;
    background: #2e80ce;
    border: 1.5px solid #2e80ce;
    border-radius: 999px;
}

/* TOP-HEADER */

.top-header {
    background: #fffaf5;
    position: sticky;
    top: -11px;
    z-index: 9999;
}

.top-header__content {
    padding: 26px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    gap: 36px;
}

.navbar__link {
    color: var(--secondary-font-color);
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem; /* 155.556% */
}

.navbar__link--active {
    color: var(--primary-font-color);
    font-weight: 600;
}

.navbar__link:hover {
    text-decoration: underline;
}

.top-header__action {
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--primary-font-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem;
    border: 1px solid var(--primary-font-color);
}

.top-header__action:hover {
    color: #FFFAF5;
    background: var(--primary-font-color);
}
