* {
    box-sizing: border-box;
    transition: 0.2s;
}

:root {
    --primary-color: #FF5B2E;
    --primary-font-color: #000958;
    --secondary-font-color: #656689;
    --primary-font: Poppins;
    --secondary-font: Sora;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--primary-font-color);
    font-size: 1.6rem;
    font-family: var(--primary-font, sans-serif);
}

/* COMMON */
a {
    color: inherit;
    text-decoration: none;
}

form,
select,
input,
button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.content {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 173px;
    padding: 14px 35px 15px;
    border-radius: 99px;
    background: var(--primary-color);
    color: #fff;
    text-align: center;
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem; /* 155.556% */
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    line-clamp: var(--line-clamp, 2);
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__title {
    font-weight: 500;
    line-height: 2.6rem; /* 162.5% */
}

.section__desc {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5.2rem; /* 123.81% */
}

.page-btns {
    display: flex;
    gap: 18px;
}

.page-btn {
    color: #575f66;
    width: 36px;
    height: 36px;
    background: #fff;
    border: 1.5px solid #575f66;
    border-radius: 999px;
    transition: 0.1s;
}

.page-btn:hover {
    cursor: pointer;
    color: #fff;
    width: 36px;
    height: 36px;
    background: #2e80ce;
    border: 1.5px solid #2e80ce;
    border-radius: 999px;
}

/* TOP-HEADER */

.top-header {
    background: #fff;
    position: sticky;
    top: -15px;
    z-index: 9999;
}

.top-header__content {
    padding-top: 28px;
}

.top-header-block {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 35.6%;
}

.navbar__list {
    display: flex;
    gap: 38px;
}

.navbar__link {
    color: var(--text-color-black-gray, #575d5e);
    font-family: var(--secondary-font);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem; /* 155.556% */
}

.navbar__item--active {
    position: relative;
}

.navbar__item--active::after {
    content: "";
    position: absolute;
    bottom: -29px;
    left: 0;
    display: inline-block;
    height: 2px;
    width: 16px;
    background: #000;
}

.navbar__link--active {
    color: var(--Primary-color-black, #152427);
}

.navbar__link:hover {
    text-decoration: underline;
}

.top-header__action {
    margin-left: auto;
}

.top-header__separate {
    margin-top: 13px;
    width: 1140px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

